{{ define "cabecalho" }}
<header class="navbar-expand">
    <div class="topHeader">
        <div class="container-fluid">
            <div class="">
                <ul class="nav navbar-nav justify-content-end">
                    <li class="topItem">
                        <a class="topItem" href="https://www.bling.com.br/" target="_blank"><i class='fa fa-sign-out-alt'></i> Bling</a>
                    </li>
                    <li class="topItem">
                        <a class="topItem" href="https://seller.shopee.com.br/" target="_blank"><i class='fas fa-user-alt'></i> Central do Vendedor</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="navegationBar">
        <nav class="navbar navbar-expand-md sticky-top">
            <div class="container-fluid">
                <div class="nav navbar-nav">
                    <img class="logo" src="/assets/css/images/Logo.png" alt="Logo da JF">
                    <div class="navbar-header">
                        <div class="nav navbar-nav">
                            <ul class="nav navbar-nav">
                                <li class="headerItem">
                                    <a class="headerItem" href="#">Início</a>
                                </li>
                                <li class="headerItem">
                                    <a class="headerItem" href="#">Pedidos</a>
                                </li>
                                <li class="headerItem">
                                    <a class="headerItem" href="#">Gráficos</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<br>
{{ end }}