{{ define "menu-esquerdo" }}
<aside class="col-md-2">
    <div class="leftMenus">
        <div class="leftMenu">
            <div class="menuTitle">Pedidos</div>
            <ul class="navbar-nav ml-auto">
                <li class="menuItem">
                    <a class="nav-link" href="/pedidos/cadastrar-pedidos">Cadastrar Pedido</a>
                </li>
                <li class="menuItem">
                    <a class="nav-link" href="/pedidos/listar-pedidos">Listar Pedidos</a>
                </li>
            </ul>
        </div>
        <br>
    </div>
</aside>
{{ end }}