{{ define "rodape" }}
<footer>
    <div class="container-fluid padding">
        <div class="row" id="footer">
            <div class="col-md-4">
                <div class="bottonText">
                    <h4>JF Brinquedos e Games</h4>
                    <p>Site para administração da loja</p>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Endereço</h5>
                            Rua Coronel Francisco Inácio, 243<br>
                            Vila Moinho Velho<br>
                            São Paulo - SP<br>
                            CEP 04286-000
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="recentPosts">
                    <h5><i class="fa fa-pencil-alt" aria-hidden="true"></i> Links Importantes</h5>
                    <div class="row recentPostItem">
                        <a href="https://shopee.com.br/jf_brinquedos_e_games" target="_blank">
                            <img class="icon" src="/assets/css/images/shopee.png" alt="">
                        </a>
                        <div class="textRecentPost">
                            <p><a href="https://shopee.com.br/jf_brinquedos_e_games" target="_blank">Site da Loja</a></p>
                            <em>Shopee - JF Brinquedos e Games</em>
                            <hr class="light">
                        </div>
                    </div>
                    <div class="row recentPostItem">
                        <a href="https://www.instagram.com/jf_brinquedos_e_games/" target="_blank">
                            <img class="icon" src="/assets/css/images/insta.png" alt="">
                        </a>
                        <div class="textRecentPost">
                            <p><a href="https://www.instagram.com/jf_brinquedos_e_games/" target="_blank">Instagram da loja</a></p>
                            <em>@jf_brinquedos_e_games</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="footerBar">
            <div class="row text-center">
                <div class="col-12">
                    <p>CNPJ: 46.321.885/0001-21  IE: 121.493.257.117</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
{{ end }}